{% extends 'no_auth_pages/base.html' %}
{% load static %}

{% block content %}
    <header class="pt-5">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-5">
                <div class="col-md-8 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="display-4 fw-bold mb-5"><span style="color: rgb(0, 0, 0);">Веб платформа для студентов и преподавателей.</span></h1>
                        <p class="fs-5 text-muted mb-5">Создавай, сдавай, - тесты за минуту.</p>
                    </div><img src="{% static 'user/assets/img/illustrations/Diasaka_DopeCoder1_college_students_in_3d_style_ee8cf7d3-dc59-46ec-a191-5fb0e8c592b0.png'%}" width="461" height="434">
                </div>
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="text-center position-relative"></div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col">
                    <div class="card border-light border-1 d-flex justify-content-center p-4">
                        <div class="card-body">
                            <div class="bs-icon-lg text-bg-dark d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-book">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path>
                                    <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path>
                                    <line x1="3" y1="6" x2="3" y2="19"></line>
                                    <line x1="12" y1="6" x2="12" y2="19"></line>
                                    <line x1="21" y1="6" x2="21" y2="19"></line>
                                </svg></div>
                            <div>
                                <h4 class="fw-bold">Теория</h4>
                                <p class="text-muted"> Это единая, целостная система знаний, элементы которой указывают на понятия ,обобщения данной информации.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-light border-1 d-flex justify-content-center p-4">
                        <div class="card-body">
                            <div class="bs-icon-lg bs-icon-secondary text-bg-dark d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                                </svg></div>
                            <div>
                                <h4 class="fw-bold">Практика</h4>
                                <p class="text-muted">Освоение и применение знаний  человеком для личного опыта в данном предмете.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-light border-1 d-flex justify-content-center p-4">
                        <div class="card-body">
                            <div class="bs-icon-lg bs-icon-secondary text-bg-dark d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-select">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                                    <path d="M9 11l3 3l3 -3"></path>
                                </svg></div>
                            <div>
                                <h4 class="fw-bold">Результат</h4>
                                <p class="text-muted">Конечный итог, ради которого осуществляется какое либо действие.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-4 py-xl-5">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="display-6 fw-bold pb-md-4">Функции, которые делают вашу обучения более <span class="underline">продуктивной</span></h3>
                </div>
                <div class="col-md-6 pt-4">
{#                    <p class="text-muted mb-4">Libero tincidunt magna, leo tempus aenean. Adipiscing vestibulum vehicula vel donec pulvinar aliquam, blandit lorem.</p>#}
                </div>
            </div>
            <div class="row gy-4 gy-md-0">
                <div class="col-md-6 d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <div class="row gy-2 row-cols-1 row-cols-sm-2">
                            <div class="col text-center text-md-start">
                                <div class="d-flex justify-content-center align-items-center justify-content-md-start"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="12" r="4"></circle>
                                        <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                                    </svg>
                                    <h5 class="fw-bold mb-0 ms-2">Цель</h5>
                                </div>
                                <p class="text-muted my-3">Доведение возможности до её полного завершения.</p>
                            </div>
                            <div class="col text-center text-md-start">
                                <div class="d-flex justify-content-center align-items-center justify-content-md-start"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="12" r="4"></circle>
                                        <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                                    </svg>
                                    <h5 class="fw-bold mb-0 ms-2">Мотивация</h5>
                                </div>
                                <p class="text-muted my-3">Способ быстрого достижения цели.</p>
                            </div>
                            <div class="col text-center text-md-start">
                                <div class="d-flex justify-content-center align-items-center justify-content-md-start"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="12" r="4"></circle>
                                        <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                                    </svg>
                                    <h5 class="fw-bold mb-0 ms-2">Доверие</h5>
                                </div>
                                <p class="text-muted my-3">Открытые взаимоотношения между людьми.</p>
                            </div>
                            <div class="col text-center text-md-start">
                                <div class="d-flex justify-content-center align-items-center justify-content-md-start"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="12" r="4"></circle>
                                        <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                                    </svg>
                                    <h5 class="fw-bold mb-0 ms-2">Опыт</h5>
                                </div>
                                <p class="text-muted my-3">Знания, приобретённые в процессе профессиональной деятельности.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 order-first order-md-last">
                    <div><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="{% static 'user/assets/img/illustrations/teamwork.svg'%}"></div>
                </div>
            </div>
        </div>
    </section>
{#    <section>#}
{#        <div class="container py-4 py-xl-5">#}
{#            <div class="row gy-4 gy-md-0">#}
{#                <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">#}
{#                    <div><img class="rounded img-fluid fit-cover" style="min-height: 300px;" src="{% static 'user/assets/img/illustrations/presentation.svg'%}" width="800"></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg-primary border rounded border-0 border-primary overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6 d-flex flex-column justify-content-center">
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="w-100 h-100 fit-contain pt-5 pt-md-0" src="{% static 'user/assets/img/illustrations/web-development.svg'%}"></div>
                </div>
            </div>
        </div>
    </section>
{#    <section class="py-5">#}
{#        <div class="container py-4 py-xl-5">#}
{#            <div class="row mb-5">#}
{#                <div class="col-md-8 col-xl-6 text-center mx-auto">#}
{#                    <h2 class="display-6 fw-bold mb-4">Check out<br>our <span class="underline">amazing plans</span></h2>#}
{#                    <p class="text-muted">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section class="py-4 py-xl-5 mb-5">#}
{#        <div class="container">#}
{#            <div class="row mb-2">#}
{#                <div class="col-md-8 col-xl-6 text-center mx-auto">#}
{#                    <h2 class="display-6 fw-bold mb-5"><span class="pb-3 underline">FAQ<br></span></h2>#}
{#                    <p class="text-muted mb-5">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row mb-2">#}
{#                <div class="col-md-8 mx-auto">#}
{#                    <div class="accordion text-muted" role="tablist" id="accordion-1">#}
{#                        <div class="accordion-item">#}
{#                            <h2 class="accordion-header" role="tab"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1">Aenean arcu euismod aliquam, volutpat consequat?</button></h2>#}
{#                            <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1">#}
{#                                <div class="accordion-body">#}
{#                                    <p>Maecenas diam volutpat, erat quis enim cras lobortis vivamus donec tempor. Congue ultrices donec turpis vivamus. Laoreet aenean metus, mi nunc massa feugiat duis. Pharetra erat consequat purus curae quisque, etiam accumsan class.</p>#}
{#                                    <p class="mb-0">Commodo rutrum quisque curabitur habitasse, suspendisse etiam.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="accordion-item">#}
{#                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">Lorem quam erat placerat mollis, rhoncus senectus?</button></h2>#}
{#                            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">#}
{#                                <div class="accordion-body">#}
{#                                    <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="accordion-item">#}
{#                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3">Iaculis accumsan id, facilisis proin ipsum velit neque?</button></h2>#}
{#                            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">#}
{#                                <div class="accordion-body">#}
{#                                    <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section class="py-4 py-xl-5"></section>#}
{% endblock %}